:host {
  display: block;
}

.scroller-container {
  display: flex;
  flex-direction: column;
}

[data-element=scroller-list] {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

[data-element=loading-indicator] {
  padding: 16px;
  text-align: center;
  color: #666;
  font-style: italic;
}

.page-placeholder {
  width: 100%;
}
